services:
  learnpython:
  build: ./learnpython
  image: learnpython
  container_name: learnpython
  restart: always
  command: "python manage.py runserver 0.0.0.0:8000"
  env_file:
    - .env
  volumes:
  - ./learnpython:/app/www/learnpython
  ports:
  - "8000:8000"