services:
 web:
  build: ./learnpython
  command: gunicorn course.wsgi:application --bind 0.0.0.0:8000
  volumes:
    - ./learnpython:/usr/www/learnpython/
  expose:
    - 8000
  env_file:
    - ./.env.dev
  depends_on:
    - db
  restart: unless-stopped
 db:
   image: postgres:15
   volumes:
    - postgres_data:/var/lib/postgresql/data/
   environment:
    - POSTGRES_USER=fir
    - POSTGRES_PASSWORD=uggtiueblantvar
    - POSTGRES_DB=learnpython
   restart: unless-stopped
 nginx:
   build: ./nginx
   ports:
     - 1337:80
   depends_on:
     - web
   restart: unless-stopped

volumes:
  postgres_data:
