services:
 web:
  build: ./learnpython
  command: python manage.py runserver 0.0.0.0:8000
  volumes:
    - ./learnpython:/usr/www/learnpython/
  ports:
    - 8000:8000
  env_file:
    - ./.env.dev
  depends_on:
    - db
 db:
   image: postgres:15
   volumes:
    - postgres_data:/var/lib/postgresql/data/
   environment:
    - POSTGRES_USER=fir
    - POSTGRES_PASSWORD=uggtiueblantvar
    - POSTGRES_DB=learnpython
volumes:
  postgres_data:
